/**
 * 
 * @file sidebar定制服务
 * @author author-name(李红波 15537053107)
 */

#app {

  .main-container {
    // TODO：演示使用需注释
    width:calc(100% - 280px);
    // width: 100%;
    min-height: 100%;
    transition: margin-left .28s;
    margin-left:20px;
    position: relative;
  }

  .sidebar-container {
    // position: fixed;
    // display: none;
    bottom: 0;
    left: 0;
    // z-index: 1001;
    z-index: 99;
    height: calc(100vh - 94px);
    transition: width 0.28s;
    width: $sideBarWidth !important;
    min-width: $sideBarWidth !important;
    min-width: 240px;
    font-size: 0px;
    overflow: hidden;

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      box-shadow: 0 17px 10px 10px #396DFF inset; 
    }

    // menu hover
    .submenu-title-noDropdown{
      &:hover {
        @include background("sidebarActiveBackground");
      }
    }
    .el-submenu__title {
      // background: red !important;
      @include background("sidebarBackground");
      &:hover {
        // background-color: $menuHover !important;
        // background-color: yellow !important;
        @include background("sidebarActiveBackground");
      }
    }

    .is-active>.el-submenu__title {
      color: $subMenuActiveText !important;
    }
    & .el-submenu .el-menu-item {
      min-width: $sideBarWidth !important;
      // background-color: $subMenuBg !important;

      &:hover {
        background-color: $subMenuHover !important;
      }
    }
    & .el-submenu .is-active{
      // background-color: $menuHover !important;
      // background-color: yellow !important;
      @include background("sidebarActiveBackground");
    }
    
  }
  

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

  .menu-item{
    // border-bottom: solid 1px yellowgreen !important;
    @include border_bottom("sidebarBottomBorderColor")
  }
  .el-menu-item,
  .el-submenu__title {
    // background: red !important;
    @include background("sidebarBackground");
    @include font_color("sidebarFontColor");
    // color: black !important;
  }
  .sidebar-container .el-submenu .el-menu-item:hover{
    // background: yellow !important;
    @include background("sidebarActiveBackground");
  }
  .el-icon-arrow-down,
  .el-icon-arrow-up{
    &::before{
      // color: black !important;
      @include font_color("sidebarFontColor");
    }
  }
  // 左侧菜单选择状态
  .menuActiveClass {
    // display: inline-block;
    // color: orange !important;
    @include font_color("sidebarActiveFontColor2");
    font-weight: 600;
  }
  .sidebar-container .is-active > .el-submenu__title{
    // color: orange !important;
    @include font_color("sidebarActiveFontColor");
    &:hover{
      @include font_color("sidebarActiveFontColor2");
    }
  }
  .sidebar-container .is-active{
    @include background("sidebarActiveBackground");
  }
}

// when menu collapsed
.el-menu--vertical {
  &>.el-menu {
    .svg-icon {
      margin-right: 16px;
    }
    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }
  }

  .nest-menu .el-submenu>.el-submenu__title,
  .el-menu-item {
    &:hover {
      // you can use $subMenuHover
      // background-color: $menuHover !important;
      // background-color: yellow !important;
      @include background("sidebarActiveBackground");
    }
  }

  // the scroll bar appears when the subMenu is too long
  >.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: transparent;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}
