// 物联网平台颜色变量

$bg_cor: var(--bg_cor, #045CB9);  //平台背景颜色
$header_bg_cor: var(--header_bg_cor, #045CB9);  //导航栏背景颜色
$header_font_cor_active: var(--header_bg_cor, #245CB3);  //导航栏当前菜单选中色
$header_bg_cor_active: var(--header_bg_cor_active, #fff);  //导航栏选中背景颜色
$sidebar_bg_cor_active: var(--sidebar_bg_cor_active, #0090E7);  //左侧菜单栏选中背景色或字体颜色

$font_color: var(--font_color, #333);  //字体颜色
$font_color_active: var(--font_color_active, #045CB9);  //选中字体颜色









